FreeDS-SCADA.json
[
    {
        "id": "5049e1850e10ee6c",
        "type": "tab",
        "label": "Logic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8b26bf5573e291c",
        "type": "tab",
        "label": "Gauge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a2c7bcaf73c72f45",
        "type": "tab",
        "label": "Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f0df6776e0a1f53",
        "type": "tab",
        "label": "User commands",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6cd29244e24de4f2",
        "type": "tab",
        "label": "Set points",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3de47b1b2c96e60",
        "type": "group",
        "z": "5049e1850e10ee6c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4fd0efae444fc85b",
            "aa6c0b2ef017418f",
            "328a2d85d5d1b313",
            "1f6cde195363ebcf",
            "49a182a485130298"
        ],
        "x": 34,
        "y": 59,
        "w": 712,
        "h": 222
    },
    {
        "id": "73afd11ef5989fa6",
        "type": "group",
        "z": "a2c7bcaf73c72f45",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a3c6b555aadcf205",
            "eea706f2ba98f6b1",
            "aa23e2ae80eed91e",
            "4990ff237ddeecf1",
            "f61d826e8502976a",
            "8059f443d664f1e4"
        ],
        "x": 14,
        "y": 79
    },
    {
        "id": "ab01e04905053346",
        "type": "group",
        "z": "6cd29244e24de4f2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b72b6e2c55472ac3",
            "341c9dfaafaa9268",
            "524d31480734b253"
        ],
        "x": 14,
        "y": 579
    },
    {
        "id": "abf0e2592e5868d7",
        "type": "group",
        "z": "6cd29244e24de4f2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "32e9525c79f75292",
            "eeeee2c69ae6afa0"
        ],
        "x": 14,
        "y": 79
    },
    {
        "id": "eb0ccf529a515511",
        "type": "group",
        "z": "6cd29244e24de4f2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7385e807a208a125",
            "68fe3fc4ed6fa70f",
            "8552bee6b8c79f80"
        ],
        "x": 14,
        "y": 179
    },
    {
        "id": "2e043a9e465dd95b",
        "type": "group",
        "z": "d8b26bf5573e291c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "87bae9c3a362dd77",
            "653da727b115acc2",
            "d23f7e16b5e7a9de",
            "a80ab3b6f4ee3c52"
        ],
        "x": 14,
        "y": 79
    },
    {
        "id": "7a552793f66527ee",
        "type": "group",
        "z": "0f0df6776e0a1f53",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8035e1c05ccbf8b1",
            "45b1035dcc7cc891",
            "fe8f848d79866313",
            "4a5bc8dbb6158c48",
            "fc3f5aafdc66e59b"
        ],
        "x": 14,
        "y": 79
    },
    {
        "id": "bcc760fcd1a03ce9",
        "type": "group",
        "z": "6cd29244e24de4f2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d555cb65f2eddb58",
            "e920b22e94f0fa87",
            "6b57585c3193670d"
        ],
        "x": 14,
        "y": 319
    },
    {
        "id": "4662cbccc81a7620",
        "type": "mqtt-broker",
        "name": "my Node-Red server",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4046c2bca086f4bc",
        "type": "ui_group",
        "name": "Data",
        "tab": "a0a4c5b0573e29a9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0a4c5b0573e29a9",
        "type": "ui_tab",
        "name": "FreeDS SCADA",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5d0477bcf24376f8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "53956879c178c2a1",
        "type": "ui_group",
        "name": "User commands",
        "tab": "a0a4c5b0573e29a9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86c5512545769877",
        "type": "ui_group",
        "name": "Set points",
        "tab": "a0a4c5b0573e29a9",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f086d74a8a70f2a",
        "type": "ui_spacer",
        "z": "6cd29244e24de4f2",
        "name": "spacer",
        "group": "86c5512545769877",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "9c6fd2e231956d91",
        "type": "ui_spacer",
        "z": "6cd29244e24de4f2",
        "name": "spacer",
        "group": "86c5512545769877",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "f307feae2d75932a",
        "type": "ui_spacer",
        "z": "6cd29244e24de4f2",
        "name": "spacer",
        "group": "86c5512545769877",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "dca86d1c21e8d4f3",
        "type": "ui_spacer",
        "z": "6cd29244e24de4f2",
        "name": "spacer",
        "group": "86c5512545769877",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "d77943b1bedc4ebf",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "a0a4c5b0573e29a9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fd0efae444fc85b",
        "type": "inject",
        "z": "5049e1850e10ee6c",
        "g": "a3de47b1b2c96e60",
        "name": "L - D 04:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 04 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "aa6c0b2ef017418f"
            ]
        ]
    },
    {
        "id": "aa6c0b2ef017418f",
        "type": "http request",
        "z": "5049e1850e10ee6c",
        "g": "a3de47b1b2c96e60",
        "name": "Reboot FreeDS",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.9.203/reboot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "328a2d85d5d1b313"
            ]
        ]
    },
    {
        "id": "328a2d85d5d1b313",
        "type": "debug",
        "z": "5049e1850e10ee6c",
        "g": "a3de47b1b2c96e60",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "1f6cde195363ebcf",
        "type": "comment",
        "z": "5049e1850e10ee6c",
        "g": "a3de47b1b2c96e60",
        "name": "Reboot FreeDS daily - copied from https://github.com/wepar2/configHAssistant/tree/main/Freeds",
        "info": "Buenas yo tenia el mismo problema y ahora va de lujo, yo puse useExternalMeter 1 y invertGridValue 1. De lujo",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "49a182a485130298",
        "type": "comment",
        "z": "5049e1850e10ee6c",
        "g": "a3de47b1b2c96e60",
        "name": "Change on \"Reboot FreeDS\" your FreeDS IP",
        "info": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "87bae9c3a362dd77",
        "type": "mqtt in",
        "z": "d8b26bf5573e291c",
        "g": "2e043a9e465dd95b",
        "name": "",
        "topic": "freeds_57d0/pwm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "653da727b115acc2"
            ]
        ]
    },
    {
        "id": "653da727b115acc2",
        "type": "ui_gauge",
        "z": "d8b26bf5573e291c",
        "g": "2e043a9e465dd95b",
        "name": "",
        "group": "d77943b1bedc4ebf",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PWM %",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "d23f7e16b5e7a9de",
        "type": "mqtt in",
        "z": "d8b26bf5573e291c",
        "g": "2e043a9e465dd95b",
        "name": "",
        "topic": "freeds_57d0/tempTermo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "a80ab3b6f4ee3c52"
            ]
        ]
    },
    {
        "id": "a80ab3b6f4ee3c52",
        "type": "ui_gauge",
        "z": "d8b26bf5573e291c",
        "g": "2e043a9e465dd95b",
        "name": "",
        "group": "d77943b1bedc4ebf",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature º C",
        "label": "º C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "87cbfa61a15b64bd",
        "type": "comment",
        "z": "d8b26bf5573e291c",
        "name": "Don't forget changing your FreeDS name",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "a3c6b555aadcf205",
        "type": "mqtt in",
        "z": "a2c7bcaf73c72f45",
        "g": "73afd11ef5989fa6",
        "name": "",
        "topic": "freeds_57d0/wsolar",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "4990ff237ddeecf1"
            ]
        ]
    },
    {
        "id": "eea706f2ba98f6b1",
        "type": "mqtt in",
        "z": "a2c7bcaf73c72f45",
        "g": "73afd11ef5989fa6",
        "name": "",
        "topic": "freeds_57d0/wgrid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "aa23e2ae80eed91e"
            ]
        ]
    },
    {
        "id": "aa23e2ae80eed91e",
        "type": "ui_text",
        "z": "a2c7bcaf73c72f45",
        "g": "73afd11ef5989fa6",
        "group": "4046c2bca086f4bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "wgrid (W)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "4990ff237ddeecf1",
        "type": "ui_text",
        "z": "a2c7bcaf73c72f45",
        "g": "73afd11ef5989fa6",
        "group": "4046c2bca086f4bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "wsolar (W)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "f61d826e8502976a",
        "type": "ui_text",
        "z": "a2c7bcaf73c72f45",
        "g": "73afd11ef5989fa6",
        "group": "4046c2bca086f4bc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MODE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 330,
        "y": 240,
        "wires": []
    },
    {
        "id": "8059f443d664f1e4",
        "type": "mqtt in",
        "z": "a2c7bcaf73c72f45",
        "g": "73afd11ef5989fa6",
        "name": "",
        "topic": "freeds_57d0/stat/pwm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "f61d826e8502976a"
            ]
        ]
    },
    {
        "id": "ee3c0bcb50817aed",
        "type": "comment",
        "z": "a2c7bcaf73c72f45",
        "name": "Don't forget changing your FreeDS name",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "7b79ce6744599d9f",
        "type": "comment",
        "z": "0f0df6776e0a1f53",
        "name": "Don't forget changing your FreeDS name",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "8035e1c05ccbf8b1",
        "type": "ui_button",
        "z": "0f0df6776e0a1f53",
        "g": "7a552793f66527ee",
        "name": "",
        "group": "53956879c178c2a1",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Enable PWM",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"pwm\",\"payload\":\"1\"}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "fe8f848d79866313"
            ]
        ]
    },
    {
        "id": "45b1035dcc7cc891",
        "type": "ui_button",
        "z": "0f0df6776e0a1f53",
        "g": "7a552793f66527ee",
        "name": "",
        "group": "53956879c178c2a1",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Disable PWM",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"pwm\",\"payload\":\"0\"}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "fe8f848d79866313"
            ]
        ]
    },
    {
        "id": "fe8f848d79866313",
        "type": "mqtt out",
        "z": "0f0df6776e0a1f53",
        "g": "7a552793f66527ee",
        "name": "",
        "topic": "freeds_57d0/cmnd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4662cbccc81a7620",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "4a5bc8dbb6158c48",
        "type": "ui_button",
        "z": "0f0df6776e0a1f53",
        "g": "7a552793f66527ee",
        "name": "",
        "group": "53956879c178c2a1",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "MAN mode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"pwmman\",\"payload\":\"1\"}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "fe8f848d79866313"
            ]
        ]
    },
    {
        "id": "fc3f5aafdc66e59b",
        "type": "ui_button",
        "z": "0f0df6776e0a1f53",
        "g": "7a552793f66527ee",
        "name": "",
        "group": "53956879c178c2a1",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "AUTO mode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"pwmman\",\"payload\":\"0\"}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "fe8f848d79866313"
            ]
        ]
    },
    {
        "id": "32e9525c79f75292",
        "type": "mqtt in",
        "z": "6cd29244e24de4f2",
        "g": "abf0e2592e5868d7",
        "name": "",
        "topic": "freeds_57d0/FDS_b_LowTempManualMode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "eeeee2c69ae6afa0"
            ]
        ]
    },
    {
        "id": "b72b6e2c55472ac3",
        "type": "mqtt in",
        "z": "6cd29244e24de4f2",
        "g": "ab01e04905053346",
        "name": "",
        "topic": "freeds_57d0/FDS_TempIncreaseAutoMode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 620,
        "wires": [
            [
                "341c9dfaafaa9268"
            ]
        ]
    },
    {
        "id": "341c9dfaafaa9268",
        "type": "ui_numeric",
        "z": "6cd29244e24de4f2",
        "g": "ab01e04905053346",
        "name": "",
        "label": "Temperature increase to return to AUTO mode ºC",
        "tooltip": "",
        "group": "86c5512545769877",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 250,
        "y": 700,
        "wires": [
            [
                "524d31480734b253"
            ]
        ]
    },
    {
        "id": "524d31480734b253",
        "type": "mqtt out",
        "z": "6cd29244e24de4f2",
        "g": "ab01e04905053346",
        "name": "",
        "topic": "freeds_57d0/FDS_TempIncreaseAutoMode",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4662cbccc81a7620",
        "x": 250,
        "y": 800,
        "wires": []
    },
    {
        "id": "eeeee2c69ae6afa0",
        "type": "ui_switch",
        "z": "6cd29244e24de4f2",
        "g": "abf0e2592e5868d7",
        "name": "",
        "label": "Enabled set points",
        "tooltip": "",
        "group": "86c5512545769877",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7385e807a208a125",
        "type": "ui_button",
        "z": "6cd29244e24de4f2",
        "g": "eb0ccf529a515511",
        "name": "",
        "group": "86c5512545769877",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Enable",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "8552bee6b8c79f80"
            ]
        ]
    },
    {
        "id": "68fe3fc4ed6fa70f",
        "type": "ui_button",
        "z": "6cd29244e24de4f2",
        "g": "eb0ccf529a515511",
        "name": "",
        "group": "86c5512545769877",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Disable",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "8552bee6b8c79f80"
            ]
        ]
    },
    {
        "id": "8552bee6b8c79f80",
        "type": "mqtt out",
        "z": "6cd29244e24de4f2",
        "g": "eb0ccf529a515511",
        "name": "",
        "topic": "freeds_57d0/FDS_b_LowTempManualMode",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4662cbccc81a7620",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "d555cb65f2eddb58",
        "type": "mqtt in",
        "z": "6cd29244e24de4f2",
        "g": "bcc760fcd1a03ce9",
        "name": "",
        "topic": "freeds_57d0/FDS_LowTempManualMode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "e920b22e94f0fa87"
            ]
        ]
    },
    {
        "id": "e920b22e94f0fa87",
        "type": "ui_numeric",
        "z": "6cd29244e24de4f2",
        "g": "bcc760fcd1a03ce9",
        "name": "",
        "label": "Low temperature to switch to MAN mode ºC",
        "tooltip": "",
        "group": "86c5512545769877",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "6b57585c3193670d"
            ]
        ]
    },
    {
        "id": "6b57585c3193670d",
        "type": "mqtt out",
        "z": "6cd29244e24de4f2",
        "g": "bcc760fcd1a03ce9",
        "name": "",
        "topic": "freeds_57d0/FDS_LowTempManualMode",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4662cbccc81a7620",
        "x": 240,
        "y": 520,
        "wires": []
    },
    {
        "id": "168c0b562ec72440",
        "type": "comment",
        "z": "6cd29244e24de4f2",
        "name": "Don't forget changing your FreeDS name",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    }
]