FreeDS-SCADA.json
[
    {
        "id": "5049e1850e10ee6c",
        "type": "tab",
        "label": "FreeDS - logic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a2c7bcaf73c72f45",
        "type": "tab",
        "label": "FreeDS - data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f0df6776e0a1f53",
        "type": "tab",
        "label": "FreeDS - user commands",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4662cbccc81a7620",
        "type": "mqtt-broker",
        "name": "myFreeDS",
        "broker": "192.168.9.204",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4046c2bca086f4bc",
        "type": "ui_group",
        "name": "Data",
        "tab": "a0a4c5b0573e29a9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0a4c5b0573e29a9",
        "type": "ui_tab",
        "name": "FreeDS SCADA",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5d0477bcf24376f8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "53956879c178c2a1",
        "type": "ui_group",
        "name": "User commands",
        "tab": "a0a4c5b0573e29a9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fd0efae444fc85b",
        "type": "inject",
        "z": "5049e1850e10ee6c",
        "name": "L - D 04:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 04 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "aa6c0b2ef017418f"
            ]
        ]
    },
    {
        "id": "aa6c0b2ef017418f",
        "type": "http request",
        "z": "5049e1850e10ee6c",
        "name": "Reboot FreeDS",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.9.203/reboot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "328a2d85d5d1b313"
            ]
        ]
    },
    {
        "id": "328a2d85d5d1b313",
        "type": "debug",
        "z": "5049e1850e10ee6c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "1f6cde195363ebcf",
        "type": "comment",
        "z": "5049e1850e10ee6c",
        "name": "Reboot FreeDS daily - copied from https://github.com/wepar2/configHAssistant/tree/main/Freeds",
        "info": "Buenas yo tenia el mismo problema y ahora va de lujo, yo puse useExternalMeter 1 y invertGridValue 1. De lujo",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "49a182a485130298",
        "type": "comment",
        "z": "5049e1850e10ee6c",
        "name": "Change on \"Reboot FreeDS\" your FreeDS IP and user/password",
        "info": "",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "87bae9c3a362dd77",
        "type": "mqtt in",
        "z": "a2c7bcaf73c72f45",
        "name": "",
        "topic": "freeds_57d0/pwm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "653da727b115acc2"
            ]
        ]
    },
    {
        "id": "653da727b115acc2",
        "type": "ui_gauge",
        "z": "a2c7bcaf73c72f45",
        "name": "",
        "group": "4046c2bca086f4bc",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PWM %",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 320,
        "y": 360,
        "wires": []
    },
    {
        "id": "a3c6b555aadcf205",
        "type": "mqtt in",
        "z": "a2c7bcaf73c72f45",
        "name": "",
        "topic": "freeds_57d0/wsolar",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "4990ff237ddeecf1"
            ]
        ]
    },
    {
        "id": "eea706f2ba98f6b1",
        "type": "mqtt in",
        "z": "a2c7bcaf73c72f45",
        "name": "",
        "topic": "freeds_57d0/wgrid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "aa23e2ae80eed91e"
            ]
        ]
    },
    {
        "id": "d23f7e16b5e7a9de",
        "type": "mqtt in",
        "z": "a2c7bcaf73c72f45",
        "name": "",
        "topic": "freeds_57d0/tempTermo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "a80ab3b6f4ee3c52"
            ]
        ]
    },
    {
        "id": "a80ab3b6f4ee3c52",
        "type": "ui_gauge",
        "z": "a2c7bcaf73c72f45",
        "name": "",
        "group": "4046c2bca086f4bc",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature ยบ C",
        "label": "ยบ C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "aa23e2ae80eed91e",
        "type": "ui_text",
        "z": "a2c7bcaf73c72f45",
        "group": "4046c2bca086f4bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "wgrid (W)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "4990ff237ddeecf1",
        "type": "ui_text",
        "z": "a2c7bcaf73c72f45",
        "group": "4046c2bca086f4bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "wsolar (W)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "f61d826e8502976a",
        "type": "ui_text",
        "z": "a2c7bcaf73c72f45",
        "group": "4046c2bca086f4bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MODE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 310,
        "y": 220,
        "wires": []
    },
    {
        "id": "8059f443d664f1e4",
        "type": "mqtt in",
        "z": "a2c7bcaf73c72f45",
        "name": "",
        "topic": "freeds_57d0/stat/pwm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "f61d826e8502976a"
            ]
        ]
    },
    {
        "id": "ee3c0bcb50817aed",
        "type": "comment",
        "z": "a2c7bcaf73c72f45",
        "name": "Don't forget changing your FreeDS IP and name",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "0694fcab6a804b35",
        "type": "mqtt out",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "topic": "freeds_57d0/cmnd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4662cbccc81a7620",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "9a22e866efded1ca",
        "type": "switch",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "4a6c31946108da0d"
            ],
            [
                "d75a1211a009ce94"
            ]
        ]
    },
    {
        "id": "f18d8713f15eb866",
        "type": "ui_switch",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "label": "PWM off/on",
        "tooltip": "",
        "group": "53956879c178c2a1",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "9a22e866efded1ca"
            ]
        ]
    },
    {
        "id": "4a6c31946108da0d",
        "type": "change",
        "z": "0f0df6776e0a1f53",
        "name": "1 - ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"pwm\",\"payload\":\"1\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "24768c25b764a8c5",
                "0694fcab6a804b35"
            ]
        ]
    },
    {
        "id": "d75a1211a009ce94",
        "type": "change",
        "z": "0f0df6776e0a1f53",
        "name": "2 - OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"pwm\",\"payload\":\"0\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 180,
        "wires": [
            [
                "24768c25b764a8c5",
                "0694fcab6a804b35"
            ]
        ]
    },
    {
        "id": "24768c25b764a8c5",
        "type": "debug",
        "z": "0f0df6776e0a1f53",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "b8605959c0131763",
        "type": "mqtt out",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "topic": "freeds_57d0/cmnd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4662cbccc81a7620",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "d9647df34514f4a2",
        "type": "switch",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "d557611c392eefb9"
            ],
            [
                "47be001ad66a6e9e"
            ]
        ]
    },
    {
        "id": "259967af3314b311",
        "type": "ui_switch",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "label": "PWM AUTO/MAN",
        "tooltip": "",
        "group": "53956879c178c2a1",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "d9647df34514f4a2"
            ]
        ]
    },
    {
        "id": "d557611c392eefb9",
        "type": "change",
        "z": "0f0df6776e0a1f53",
        "name": "1 - AUTO",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"pwmman\",\"payload\":\"1\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 260,
        "wires": [
            [
                "b80319feb2624299",
                "b8605959c0131763"
            ]
        ]
    },
    {
        "id": "47be001ad66a6e9e",
        "type": "change",
        "z": "0f0df6776e0a1f53",
        "name": "2 - MAN",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"pwmman\",\"payload\":\"0\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 340,
        "wires": [
            [
                "b80319feb2624299",
                "b8605959c0131763"
            ]
        ]
    },
    {
        "id": "b80319feb2624299",
        "type": "debug",
        "z": "0f0df6776e0a1f53",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "2e56501bbdec58a4",
        "type": "mqtt in",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "topic": "freeds_57d0/cmnd/pwmman",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "259967af3314b311"
            ]
        ]
    },
    {
        "id": "283102008dbda810",
        "type": "mqtt in",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "topic": "freeds_57d0/cmnd/pwm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "f18d8713f15eb866"
            ]
        ]
    },
    {
        "id": "7b79ce6744599d9f",
        "type": "comment",
        "z": "0f0df6776e0a1f53",
        "name": "Don't forget changing your FreeDS IP and name",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "96def60f23360a1a",
        "type": "mqtt in",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "topic": "freeds_57d0/cmnd/pwmmanvalue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "da6ed29be78a8166"
            ]
        ]
    },
    {
        "id": "da6ed29be78a8166",
        "type": "ui_text",
        "z": "0f0df6776e0a1f53",
        "group": "53956879c178c2a1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "freeds_57d0/cmnd/pwmmanvalue",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 580,
        "wires": []
    },
    {
        "id": "b597a40ec112b893",
        "type": "ui_numeric",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "53956879c178c2a1",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 260,
        "y": 520,
        "wires": [
            [
                "2c63c0da9c62e47a"
            ]
        ]
    },
    {
        "id": "2c63c0da9c62e47a",
        "type": "mqtt out",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "topic": "freeds_57d0/cmnd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4662cbccc81a7620",
        "x": 570,
        "y": 520,
        "wires": []
    },
    {
        "id": "7f92a476932d6e3c",
        "type": "mqtt in",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "topic": "freeds_57d0/cmnd/pwmmanvalue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "b597a40ec112b893"
            ]
        ]
    },
    {
        "id": "8b4f6708a06dd4c5",
        "type": "comment",
        "z": "0f0df6776e0a1f53",
        "name": "This still doesn't work",
        "info": "",
        "x": 140,
        "y": 420,
        "wires": []
    },
    {
        "id": "7af282c532960a26",
        "type": "mqtt in",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "topic": "freeds_57d0/cmnd/pwmmanvalue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4662cbccc81a7620",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "fa16dfdbea38bc22"
            ]
        ]
    },
    {
        "id": "fa16dfdbea38bc22",
        "type": "ui_slider",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "53956879c178c2a1",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 430,
        "y": 640,
        "wires": [
            [
                "9f468ef19940a92c"
            ]
        ]
    },
    {
        "id": "9f468ef19940a92c",
        "type": "mqtt out",
        "z": "0f0df6776e0a1f53",
        "name": "",
        "topic": "freeds_57d0/cmnd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4662cbccc81a7620",
        "x": 690,
        "y": 640,
        "wires": []
    }
]